var/cache/**/*
var/session/**/*
var/session/*
var/log/*
var/locks/*
var/report/*
var/backups
var/export
var/resource_config.json
media/catalog/product/cache/**/*
media/js/*
media/css/*.css
errors/local.xml
app/etc/local.xml
downloader/cache.cfg
downloader/.cache
wp/wp-content/uploads
*.DS_Store
*.swp
